body {
    background-color: rgba(255, 214, 178, 0.836); 
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../images/bimg.jpg);
    background-size: cover;
    height: 200vh;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.flex-container div {
    border: 10px black;
    flex: 1 1 auto;
}

.introduction, .main-content, .contact-us {
    background-color: #548ca8;
    color: white
    width: 350px;
    text-align: center;
    border: 1px solid black;
    margin:auto;
}

.FAQ, .About, .Pictures {
    padding: 5px;
    width: 10px;
    margin: 1px;
}

.gallery{
    text-align: center;
}

 img,.img2, .img3, .img4, .img5, .img6, .img7, .img8 {
     width: 275px;
     height: auto;
     border: 2px solid black;
     margin: 5px;
 }

