h1 {
    color: black;
    font-size: 44px;
}

body {
    background-color: rgba(118, 255, 232, 0.836); 
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

h2,h4 {
    color: black
}
